
{{#extend "scripts"}}
<script src="/lib/bootstrap-validator/dist/validator.min.js"></script>
{{/extend}}

<div class="page-header">
    <h1>Új feladat</h1>
</div>

<form class="form-horizontal" method="post">
    <fieldset>
        <div class="form-group
            {{#if validationErrors.tipus}}
                has-error
            {{/if}}
        ">
            <label for="tipus" class="col-lg-2 control-label">Típus</label>
            <div class="col-lg-10">
                <input class="form-control" id="tipus" name="tipus" placeholder="ZH, beadandó, vizsga" type="text" value="{{data.tipus}}">
                {{#if validationErrors.tipus}}
                    <span class="help-block">{{validationErrors.tipus.msg}}</span>
                {{/if}}
            </div>
        </div>
        <div class="form-group
            {{#if validationErrors.leiras}}
                has-error
            {{/if}}
        ">
            <label for="leiras" class="col-lg-2 control-label">Részletek</label>
            <div class="col-lg-10">
                <textarea class="form-control" rows="3" id="leiras" name="leiras" placeholder="pl.: témakörök...">{{data.leiras}}</textarea>
                <span class="help-block">Add meg mit kell megírnod/megtanulnod.</span>
                {{#if validationErrors.leiras}}
                    <span class="help-block">{{validationErrors.leiras.msg}}</span>
                {{/if}}
            </div>
          </div> 
        <div class="form-group
            {{#if validationErrors.hatarido}}
                has-error
            {{/if}}
        ">
            <label for="hatarido" class="col-lg-2 control-label">Határidő</label>
            <div class="col-lg-10">
               <input class="form-control" id="hatarido" name="hatarido" placeholder="pl.: 2015.11.02. 23:59" type="text" value="{{data.hatarido}}">
               {{#if validationErrors.hatarido}}
                    <span class="help-block">{{validationErrors.hatarido.msg}}</span>
                {{/if}}
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <button type="reset" class="btn btn-default">Töröl</button>
                <button type="submit" class="btn btn-primary">Felvesz</button>
            </div>
        </div>
    </fieldset>
</form>

